.app-audio-player {
    gap: 10px;

    .mat-mdc-card-title {
      font-size: clamp(12px, 3vw, var(--mat-card-title-text-size));
      line-height: 1.6;
    }

    .mat-mdc-card-subtitle {
      font-size: clamp(10px, 2vw, var(--mat-card-subtitle-text-size));
      line-height: 1.6;
    }

    audio {
      width: 100%;
    }
  }
